<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="UserResultMap" type="com.dommn.User">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="userName" column="userName"/>
        <result property="age" column="age"/>
    </resultMap>


    <insert id="save">
        INSERT INTO UserInfo(userName, age, uuid)
        VALUES (#{user.userName}, #{user.age}, #{user.uuid})
    </insert>

    <select id="findByUuid" resultType="com.dommn.User">
        SELECT * FROM UserInfo WHERE uuid = #{uuid}
    </select>

    <update id="update">
        UPDATE UserInfo
        <set>
            <if test="user.userName != null">
                userName = #{user.userName}
            </if>
        </set>
        <set>
            <if test="user.age != null">
                age = #{user.age}
            </if>
        </set>
        <set>
            <if test="user.uuid != null">
                uuid = #{user.uuid}
            </if>
        </set>
        where uuid = #{user.uuid}
    </update>

    <delete id="delete">
        DELETE FROM UserInfo WHERE uuid = #{uuid}
    </delete>

</mapper>